body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fdff6e;
    text-align: center;
    padding: 1.5rem 0;
}

img {
    display: block; 
    margin: 0 auto; 
    max-width: 50%; 
    height: auto; 
}


h1, h2 {
    margin: 0.5rem 0;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}


footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #ffffff;
}

#sobre {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding: 20px; 
}



